DB_CLIENT=mysql2
DB_HOST=localhost
DB_PORT=3306
DB_USER=cook
DB_PASSWORD=root
DB_DATABASE=cook
NODE_ENV=production

PORT=3000
DOCKER_DB_PORT=3308

JWT_SECRET=dev-secret
JWT_EXPIRES_IN=1h

SMTP_FROM_NAME=Cook
SMTP_FROM_EMAIL=no-reply@example.com
UNISENDER_API_URL=https://api.unisender.com/ru/api/sendEmail
UNISENDER_API_KEY=your_unisender_api_key
UNISENDER_LIST_ID=your_unisender_list_id
